:root {
  --yellow: #ff0080;
  --orange: rgb(255, 0, 174);
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgb(255, 255, 255);
  --buttonBg: linear-gradient(98.63deg, #ff0084 0%, #ff00b3 100%);
  --darkmodebuttonBg : linear-gradient(98.63deg, #00de85 0%, #63b0af 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--shedule: #E1AE4A;
--darkmode-black:black;
--darkmode-cardColor:#28282B;
--darkmode-text-:white;

}

.App{
  overflow: hidden;
  color: var(--black);
  background-image: url("bg-6.jpg");
  background-size: cover;
  padding: 1rem 1rem;
  /* height: 10rem; */
}

/* .blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background:#7b6957;
  filter: blur(72px)
}  */

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border:none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition:all 100ms ease-out;
}

.button:hover{
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  border: 2px solid var(--orange);
}

.button:disabled{
  background: rgb(255, 255, 255);
  pointer-events: none;
}

::-webkit-scrollbar{
  display: none;
}